:root {
    --banner-bg-color: #27405E;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

a, a:visited {
    color: #9C0000;
}

a:hover {
    color: #DC0000;
}

.heading {
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: italic;
}

.banner {
    display: block;
    background-color: var(--banner-bg-color);
    text-align: center;
    color: white;
    padding: 50px 0px;
    margin-top: 0;
    margin-bottom: 25px;
}

h2 {
    margin: 50px 0;
    border-bottom: 2px solid #B98788;
    font-size: 28px;
}

h3 {
    margin: 50px 0;
    border-bottom: 2px solid #B98788;
    font-size: 22px;
}

h4 {
    font-size: 22px;
}

.page {
    max-width: 1000px;
    margin: 25px auto;
}

.logo {
    max-width: 1000px;
    margin: 33.6px auto;
}

section {
    max-width: 1000px;
    margin: 0 auto;
}

section .graphs {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.graph {
    max-width: 100%;
    height: auto;
}

.statistics {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin-bottom: 25px;
}

.statistics > div {
    margin: 25px;
    text-align: center;
    width: 10%;
    min-width: 125px;
    flex-grow: 0;
}

.stat-value {
    font-weight: 500;
    font-size: 2rem;
    color: #555;
}

.stat-name {
    font-size: 1.2rem;
    color: grey;
}

.stat-icon {
    height: 100px;
}

.stat-text {
    height: 100px;
    font-size: 100px;
    padding-bottom: 5px;
}

.rulesets-overview  {
    padding-bottom: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    font-size: 1.2rem;
}

.ruleset-overview {
    border-radius: 6px;
    margin: 6px;
    padding: 20px;  
    width: 30%;
    min-width: 250px;
    flex-grow: 1;
}

.ruleset-overview h3 {
    font-size: 24px;
}

.ruleset-overview table {
    width: 100%;
    margin: auto;
}

.mcr {
    background-color: #F5F5F7;
}

.riichi {
    background-color: #D3D8DE;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.left {
    text-align: left;
}

/* Active Players */

.player-table {
    font-size: 1.2rem;
    overflow: auto;
}

.player-table table {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.player-table td, .player-table th {
    padding: 6px;
    white-space: nowrap;
}

.player-table th {
    text-align: left;
}

.head-to-head {
    font-size: 1.2rem;
}

.head-to-head td, .player-table th {
    padding: 6px;
    white-space: nowrap;
}

footer {
    margin-top: 50px;
    background-color: var(--banner-bg-color);
    display: flex;
    justify-content: center;
    color: white;
    font-size: .9rem;
}

footer div {
    max-width: 1000px;
    padding: 40px;
}

footer a, footer a:visited, footer a:hover {
    color: white;
    text-decoration: none;
}

.single-line {
    overflow: hidden;
    white-space: nowrap;
}

.highlight {
    font-weight: bold;
}