table {
    text-align: left;
}

thead {
    font-weight: bold;
}

a, a:visited {
    color: #9C0000;
}

a:hover {
    color: #DC0000;
}

.helptext {
    font-style:normal;
    font-size: 1em;
    cursor: help;
}

.right {
    text-align:right;
}

.single-line {
    overflow: hidden; 
    white-space: nowrap;
}