@using MahjongDkStats.CLI
<!DOCTYPE html>
<html lang="en">
<Header />
<body>
	<Logo />
	<h1 class="banner heading">About the Game Statistics</h1>
	<div class="page">
		<a href="index.html">Back to Overview</a>
	</div>
	<section>
		<p>Built by Martin F, designed by Sheila.</p><br />
		<p>Source code for this site is available <a href="https://github.com/MartinFaartoft/MahjongDkStats">here</a>.<br />
		Source code for the scraper that loads the data is <a href="https://github.com/MartinFaartoft/MahjongDkScraper">here</a>.<br />
		
		If you're interested in using the data for other purposes, it's refreshed weekly and available in JSON format here:<br />
		<a href="https://raw.githubusercontent.com/MartinFaartoft/MahjongDkScraper/main/data/mcr_games_full.json">MCR Games list</a><br />
		<a href="https://raw.githubusercontent.com/MartinFaartoft/MahjongDkScraper/main/data/riichi_games_full.json">Riichi Games list</a><br />
		</p>
		<br />
		<p>If you want to know more about the game or the Danish Mahjong association, visit <a href="https://mahjong.dk/">mahjong.dk</a></p>
	</section>
	<Footer />
</body>
</html>