<head>
	<meta charset="utf-8" />
	<title>Mahjong Danmark - Statistics</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sakura.css/css/sakura.css" type="text/css">
	<link rel="stylesheet" href="css/styles.css" type="text/css">
</head>