<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Statistics for Mahjong games played in the Mahjong Danmark association">
    <meta name="keywords" content="mahjong, danmark, statistics, mcr, riichi">
    <meta name="robots" content="index, follow">
    <title>Mahjong Danmark - Statistics</title>
    <link rel="icon" type="image/x-icon" href="/img/favicon.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap">
    <link rel="stylesheet" href="css/normalize.css" type="text/css">
    <link rel="stylesheet" href="css/sortable.min.css" type="text/css">
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <script src="script/sortable.min.js"></script>
</head>