<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Statistics for Mahjong games played in the Mahjong Danmark association">
	<meta name="keywords" content="mahjong, danmark, statistics, mcr, riichi">
	<meta name="robots" content="index, follow">
	<title>Mahjong Danmark - Statistics</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sakura.css/css/sakura.css" type="text/css">
	<link rel="stylesheet" href="css/styles.css" type="text/css">
</head>