@using MahjongDkStatsCalculators

<title>Mahjong Danmark - Statistics for @PlayerStats.Name</title>
<head>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sakura.css/css/sakura.css" type="text/css">
</head>

<h1>Statistics for @PlayerStats.Name</h1>

<h2>Global (across variants)</h2>
<p>TODO</p>
<h2>MCR</h2>
<img src="img/@CreateMcrPlotUrl(PlayerStats)" />
<h2>Riichi</h2>
<img src="img/@CreateRiichiPlotUrl(PlayerStats)" />

@code {
	[Parameter]
	public PlayerStatistics PlayerStats { get; set; } = null!;

	public string CreateMcrPlotUrl(PlayerStatistics p)
	{
		return MahjongDkStats.CLI.NameSanitizer.SanitizeForUrlUsage(p.Name) + "-mcr-rating.png";
	}

	public string CreateRiichiPlotUrl(PlayerStatistics p)
	{
		return MahjongDkStats.CLI.NameSanitizer.SanitizeForUrlUsage(p.Name) + "-riichi-rating.png";
	}
}