<a href="@(Helpers.CreatePlayerUrl(Name))">@(NeedsShortening(Name) ? Helpers.ShortenName(Name) : Name)</a>

@code {
	[Parameter]
	public bool Shorten { get; set; } = false;

	[Parameter]
	public string Name { get; set; } = null!;

	[Parameter]
	public int MaxLength { get; set; } = 20;

	private bool NeedsShortening(string name) => Shorten || Name.Length > MaxLength;
}
